{% extends 'base.html' %} {% block page %} {% load static %}

<h2>assertations</h2>
<h4>API's<h4>
<a href="https://developers.google.com/maps" title="map api">Googlle maps API - google</a>
</br>
<a href="https://api-ninjas.com/api/animals" title="animal api">Animal API - API Ninjas</a>
</br>
<h4>icons<h4>
<a href="https://www.flaticon.com/free-icons/map" title="map icons">Map icons created by Pixel perfect - Flaticon</a>
</br>
<a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
</br>
<a href="https://www.flaticon.com/free-icons/profile" title="profile icons">Profile icons created by Bingge Liu - Flaticon</a>
</br>
<a href="https://www.flaticon.com/free-icons/register" title="register icons">Register icons created by See Icons - Flaticon</a>
</br>
<a href="https://www.flaticon.com/free-icons/logout" title="logout icons">Logout icons created by Afian Rochmah Afif - Flaticon</a>
</br>
<a href="https://www.flaticon.com/free-icons/add" title="add icons">Add icons created by Freepik - Flaticon</a>
</br>
<a href="https://www.flaticon.com/free-icons/personal" title="personal icons">Personal icons created by Lagot Design - Flaticon</a>
</br>
<a href="https://www.flaticon.com/free-icons/password" title="password icons">Password icons created by Those Icons - Flaticon</a>

{% endblock page %}
