<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <!--header-->
        <header>
            <!--navigation bar-->
            <nav class="top-bar" style="visibility: hidden">
                <div class="mainButtons grid-container">
                    <div class="grid-x align-middle align-center">
                        <!--menu-->
                        <div class="cell shrink">
                            <!--proper full menu-->
                            <div class="show-for-medium">
                                <div class="cell auto">
                                    <ul class="menu">
                                        <li>
                                            <!--map-->
                                            <a href="{% url 'map' %}">Map</a>
                                        </li>
                                        <li>
                                            <!--user profile-->
                                            <a href="">Your Profile</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--login/logout/signup menu-->
                <div class="top-bar-right">
                    <div class="grid-container">
                        <div class="grid-x align-middle align-center">
                            <div class="cell shrink">
                                <!--on large screens-->
                                <div class="show-for-large">
                                    <div class="cell auto">
                                        <!--login/logout/signup buttons-->
                                        <ul class="menu">
                                            {% if user.is_authenticated %}
                                            <li><a href="">{{user.username}}</a></li>
                                            <li><a href="{% url 'logout' %}">Logout</a></li>
                                            {% else %}
                                            <li><a href="{% url 'createuser' %}">Signup</a></li>
                                            <li><a href="{% url 'login' %}">Login</a></li>
                                            {% endif%}
                                        </ul>
                                    </div>
                                </div>
                                <!--on small and medium screens-->
                                <div class="hide-for-large">
                                    <div class="cell auto">
                                        <!--login/logout/signup buttons-->
                                        <ul class="dropdown menu align-center" data-dropdown-menu>
                                            <li class="is-dropdown-submenu-parent">
                                                <!--three line menu image-->
                                                <a href="" class="threeLineMenu">
                                                    <img src="{% static 'resources/images/menuIcon.png' %}" alt="navigation menu" width="30px" />
                                                </a>
                                                <!--login/logout/signup buttons-->
                                                <ul class="menu">
                                                    {% if user.is_authenticated %}
                                                    <li><a href="">{{user.username}}</a></li>
                                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                                    {% else %}
                                                    <li><a href="{% url 'createuser' %}">Signup</a></li>
                                                    <li><a href="{% url 'login' %}">Login</a></li>
                                                    {% endif%}
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </body>
    <script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>
</html>
