<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <!--header-->
        <header>
            <!--navigation bar-->
            <nav class="top-bar">
                <div class="grid-container">
                    <div class="grid-x align-middle align-center">
                        <!--menu-->
                        <div class="cell shrink">
                            <!--proper full menu-->
                            <div class="show-for-medium">
                                <div class="cell auto">
                                    <ul class="menu">
                                        <li>
                                            <!--user profile-->
                                            <a href="{% url 'map' %}">Map</a>
                                        </li>
                                        <li>
                                            <!--user profile-->
                                            <a href="">Your Profile</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %}
                <div class="top-bar-right show-for-medium" style="height: 20px !important"></div>
                {% endcomment %}
            </nav>
        </header>
    </body>
    <script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>
</html>
