<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <!--header-->
        <header>
            <!--navigation bar-->
            {% comment %}
            <nav class="top-bar"></nav>
            {% endcomment %}
            <h1>test</h1>
        </header>
    </body>
</html>
