{% extends 'base.html' %}
{% block content %}
{% load static %}

<script>
    $(document).ready(function() {
        $.ajax({
            url: "/api/pois",
            method: "GET",
            success: function (data) {
                initMap(data);
            }
        });
    });

    function initMap(data) {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 51.2431429, lng: -0.5916511 },
            zoom: 12
        });

        const markers = data?.map((d) => {
            const marker = new google.maps.Marker({
                position: { lat: d.latitude, lng: d.longitude },
                map: map
            });
        });
    }

    window.initMap = initMap;
</script>

<div style="width:100vw;height:100vh">
    <div id="map" style="height:100%"></div>

    <script
        src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"
        defer
    ></script>
</div>

{% endblock content %}