{% extends 'base.html' %}
{% block content %}
{% load static %}

<script>
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        });
    }

    window.initMap = initMap;
</script>

<div style="width:100vw;height:100vh">
    <div id="map" style="height:100%"></div>

    <script
        src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"
        defer
    ></script>
</div>

{% endblock content %}