{% extends 'base.html' %} {% block page %}{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>
    <body>
        <h2>Enter Your Login Details</h2>
        <form action="/login" method="post">
            <label for="">username</label>
            <input class="formfield" type="text" id="username" name="username" placeholder="Enter Username" required />
            <br />
            <label for="">Password</label>
            <input class="formfield" type="password" id="password" name="password" placeholder="Enter Password" required />
            <br />
            <button type="submit" class="large button">Login</button>
        </form>
    </body>
</html>
{% endblock page %}
